<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	
    <title>&Cscr;&Hscr;&Uscr;&Nscr;&Gscr;  &Mscr;&Ascr;&Nscr;</title>
	
    <link rel="icon" href="img/indexhead.png">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/modernizr.js"></script>
  	
	
</head>
<body>
    <div id="fl">
     <div id="load">
         <video autoplay muted loop id="myVideo" class="bot">
              <source src="img/stars.webm" type="video/webm">
              </video>
    <!-- start -->
         
  <div>&Nopf;</div>
  <div>&Iopf;</div>
  <div>&Dopf;</div>
  <div>&Aopf;</div>
  <div>&Oopf;</div>
  <div>&Lopf;</div>
<div>&Gopf;</div>
  
</div>
        </div>
     <video autoplay muted loop id="myVideo" class="bot">
              <source src="img/stars.webm" type="video/webm">
              </video>
     
    <div class="header">
 
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>  
</div>
            <div id="LinkDiv">
              <a href="index.html" class="active"><img src="img/home.png" class="img1" alt="home"></a>
              <a href="education/education.html"><img src="img/education.png" class="img2" alt="education"></a>
              <a href="interest/interest.html"><img src="img/interest.png" class="img3" alt="interest"></a>
              <a  href="skills/skills.html"><img src="img/skills.png" class="img4" alt="skills"></a>
          </div>
              
	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#section1" data-number="1">
					<span class="cd-dot"></span>
					<span class="cd-label">TIMER</span>
				</a>
			</li>
			<li>
				<a href="#section2" data-number="2">
					<span class="cd-dot"></span>
					<span class="cd-label">About</span>
				</a>
			</li>
			<li>
				<a href="#section3" data-number="3">
					<span class="cd-dot"></span>
					<span class="cd-label">HMMMMM</span>
				</a>
			</li>
			<li>
				<a href="#section4" data-number="4">
					<span class="cd-dot"></span>
					<span class="cd-label">YEA</span>
				</a>
			</li>
			<li>
				<a href="#section5" data-number="5">
					<span class="cd-dot"></span>
					<span class="cd-label">PIKACHU</span>
				</a>
			</li>
			<li>
				<a href="#section6" data-number="6">
					<span class="cd-dot"></span>
					<span class="cd-label">THANKYOU</span>
				</a>
			</li>
		</ul>
	</nav>
    <!-- para start -->
	<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>
   <!--asasas-->
    

    
     <div  class="indexp1">
                       <div class="ptext">
                        <span class="border1">&Wscr;&Escr;&Bscr;    &Dscr;&Escr;&Vscr;&Escr;&Lscr;&Oscr;&Pscr;&Mscr;&Escr;&Nscr;&Tscr;    
                        </span>
                  </div>     
         <a href="#section1" class="cd-scroll-down cd-img-replace" alt="scroll down">scroll down</a>
              </div>
	<section id="section1" class="cd-section">
        <div id="app" class="sp">
  My name is <input v-model="name">
  and I am <input v-model="age"> years old.
  <p/>
  <button @click="persist">Save</button>
</div>
          <p id="TIMER1">Now is already 2019 timer stop.
            </p>
        <h1><br>
        <br><br>
        <br>TO 2019</h1>  
	</section>
   
              
	<section id="section2" class="cd-section">
		<p>&ldquo;MACDONALD KFC PIZZAHUT BURGER KING DOMINO McCHICKEN McSPICY &rdquo;</p>
	</section>
    

	<section id="section3" class="cd-section">
		<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	</section>
    

	<section id="section4" class="cd-section">
		<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	</section>
      
  
    

	<section id="section5" class="cd-section">
		<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	</section>
    

	<section id="section6" class="cd-section">
		<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
                 <a href="#thankyou" class="cd-scroll-down cd-img-replace">scroll down</a>
        
	</section>
       <div class="edp4" id="thankyou">
                   <div class="ptext">
                        <span class="border1">
                               &Bscr;&Yscr; &Cscr;&Hscr;&Uscr;&Nscr;&Gscr; &Mscr;&Ascr;&Nscr;
                        </span>
                  </div>
              </div>


	
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script>
</body>
</html>